/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -4px 4px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
/*  border-radius: 8px;*/
  border-radius: 3px;
  margin-bottom: 55px;
}
.sidebar-module-inset .comments-grid-left { margin-right: 15px }
/*.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}*/

.pager > li > a {
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    width: 140px;
}

/*body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}*/

/*.skslider >li .slider-logo img {
  width: 111px;
  height: 52px;
}*/


.skdslider #slide1, .skdslider #slide2, .skdslider #slide3 {
  /*background-color: #B8B0AC;*/
  background-image: linear-gradient(-225deg, #000000 0%, #432c39 1%, #6c4f63 5%, #dfa579 15%, #675C58 29%, #554C43 59%, #4c7788 71%, #6c4f63 86%, #000000 100%) !important;
/*  mix-blend-mode: multiply;
  filter: grayscale(50%);*/
}

/*#demo1 {
  background: #1F494D;
  background-color: #B8B0AC;
  display: inline-block;
}*/

/*#demo1 #slide1, #demo1 #slide2, #demo1 #slide3 {
  mix-blend-mode: multiply;
  filter: grayscale(30%);
}*/

.skdslider ul.slides li .slider-logo img {
  width: 111px !important;
  height: 52px;
}

#slider-logo {
  width: 111px;
  height: 52px;
}

.agile-banner {
  /*background-image: linear-gradient(-225deg, #000000 0%, #432c39 1%, #6c4f63 5%, #dfa579 15%, #675C58 29%, #554C43 59%, #432c39 71%, #6c4f63 86%, #000000 100%) !important;*/
  /*background: none !important;*/
  /*background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);*/
  /*background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);*/
  /*background-image: linear-gradient(to right, #858688 0%, #FDA855 100%);*/
  background-image: linear-gradient(-225deg, #000000 0%, #432c39 1%, #6c4f63 5%, #dfa579 15%, #675C58 29%, #554C43 59%, #4c7788 71%, #6c4f63 86%, #000000 100%) !important;
  /*background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);*/
  /*background-image: linear-gradient(-225deg, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);*/
/*    display: flex;
    align-items: center;
    justify-content: center;*/
}

.agile-banner h3 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.agile-banner p {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
/*  padding: 12px;*/
  width: 100%;
  text-align: center;
/*   position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  /*vertical-align: middle;*/
}

.center-v-h {
/*  text-align: center;
  vertical-align: middle;*/
    display: flex;
    align-items: center;
    justify-content: center;
/*  justify-content: space-around;*/

/* position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
.pd-r-5 {
  padding-right: 5px;
}

.pd-r-10 {
  padding-right: 10px;
}

.w3agile-list .dropdown-menu  {
  background: #000;
}
.w3agile-list .dropdown-menu > li > a {
  color: #bebebe;
  font-size: 18px;
  text-decoration: none;
}


.agileits_w3layouts_classes_grid1_right span {
  line-height:2.8em;
  font-size:2em;
  color:#fff;
}

.agile_services_grid_pos span {
  font-size: 1.3em;
    color: #fff;
    line-height: 2.7em;
}

.agileits_w3layouts_classes_grid1_right {
  text-align: center;
}

.agile_services_grid_pos {
  text-align: center;
}

.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

#series-intro ul li {
    display: block;
    margin-right: 35em;
    margin-left: 2em;
}

#series-intro ul li i, #series-intro span.bullet{
  color: #ffac3a;
  padding-right: 1em;
}

#series-intro span.bullet{
  padding-left: 1em;
  font-size: 12px;
  font-style: normal;
  float: right;
}

#series-intro {
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #999;
  line-height: 2em;
  font-style: italic;
  margin: 2em 0 1em 0;
  font-size: 14px;
  /*border: 2px solid #ececec;*/
  padding: 0.5em 1em;
}

#series-intro span {
  color: #999;
}

#series-intro span.active {
  color: #ffac3a;
/*  box-shadow: 0px 5px 15px #888888;*/
  text-shadow: 2px 2px #fff;
}

#series-intro ul li a span:hover {
  color: #ffac3a;
}


.docs article code[class*="language-"], .docs article pre[class*="language-"] {
    font-size: 11px;
    line-height: 2;
    vertical-align: middle;
}

pre[class*="language-"] {
    margin: 10px 0 20px;
    overflow: auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: rgba(238, 238, 238, 0.35) none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    padding: 10px;
}

code[class*="language-"], pre[class*="language-"] {
    -moz-tab-size: 4;
    color: #000;
    font-size: 11.5px;
    hyphens: none;
    line-height: 1.7;
    text-align: left;
    text-shadow: 0 1px #fff;
}
.dark-code code[class*="language-"], .dark-code pre[class*="language-"], code[class*="language-"], pre[class*="language-"] {
    direction: ltr;
    font-family: "Operator Mono","Fira Code",Consolas,Monaco,"Andale Mono",monospace;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}
code, kbd, pre, samp {
    font-family: source-code-pro,monospace;
    font-size: 14px;
}

code[class*="language-"] *::-moz-selection, code[class*="language-"]::-moz-selection, pre[class*="language-"] *::-moz-selection, pre[class*="language-"]::-moz-selection {
    background: #b3d4fc none repeat scroll 0 0;
    text-shadow: none;
}
/*video {
   width:100%;
   max-width:783px;
   max-height: 522px;
   height:auto;
}*/
/*@media screen and (min-width: 1200px) {
    video {
        width: : 783px;
        height: 522px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 960px) {
    video {
        width: : 700px;
        height: auto;
    }
}

@media screen and (max-width: 959px) and (min-width: 678px) {
    video {
        width: : 600px;
        height: auto;
    }
}

@media screen and (max-width: 677px) and (min-width: 480px) {
    video {
        width: : 335px;
        height: auto;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    video {
        width: : 250px !important;
        height: auto;
    }
}*/

